
/* reduce confetti image */
.title_img {
  display: none;
}

/* increase height so font thickness wont cut off */
.feature_box_text span {
  line-height: 46px;
}

/* reduce header height */
.header_area.sticky {
  padding: 8px 20px;
}

/* reduce header logo height */
.header_area .bilo_logo img {
  width: inherit;
  max-height: 55px;
}

/* reduce header logo height */
.header_area.sticky .bilo_logo img {
  width: inherit;
  max-height: 40px;
}

/* get quote button */
.download_box .menu_btn {
  padding: 15px 40px;
  letter-spacing: 0.1em;
}

/* reduce header get quote button */
.header_area.sticky .download_box .menu_btn {
  padding: 15px 40px;
  letter-spacing: 0.1em;
  padding: 8px 40px;
}

/* remove underline as it seems like link */
.bilo_title_span span {
  text-decoration: none;
}

/* footer padding */
.bilo_footer {
  font-size: 0.8em;
  padding: 24px 0px;
}

/* footer company name color */
.bilo_widget .widget-title p {
	color: #c0b9cf;
}

/* footer reduce padding */
.bilo_widget.section_padding {
	padding: 60px 0;
}
